VITE_APPWRITE_URL="your-appwrite-url-here"
VITE_APPWRITE_PROJECT_ID="your-project-id"
VITE_APPWRITE_DATABASE_ID="your-database-id"
VITE_APPWRITE_COLLECTION_ID="your-collection-id"
VITE_APPWRITE_BUCKET_ID="your-bucket-id"
VITE_APPWRITE_PROJECT_NAME="your-project-name"
VITE_APPWRITE_ENDPOINT="your-appwrite-endpoint"
